/* Styling for the webpage */

/* Set background color for the body */
body {
    background-color: #fafafa;
}

/* Reset default padding, margin, and box-sizing for all elements */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-container {
    max-width: 1080px;
    margin: 10px auto;
}

/* Center-align heading, paragraph */
h1,
p {
    text-align: center;
    padding: 1rem;
}

p {
    font-size: 1.2rem;
}

/* Style for the form */
.form {
    padding: 1rem;
    text-align: center;
}

/* Style for form input fields */
.form input {
    padding: 0.5rem;
    border-radius: 2px;
    outline: none;
    border: 0.5px solid black;
    margin: 0 10px;
    font-size: 1rem;
}

/* Style for form button */
.form button {
    padding: 0.5rem 1rem;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    background: rgba(100, 32, 170, 0.9);
    color: #f6f5f5;
    border-radius: 5px;
    transition: all 0.5s;
}

/* Hover effect for form button */
.form button:hover {
    background: rgba(100, 32, 170, 1);
}

/* Container for images */
.container {
    max-width: 1080px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* Style for individual image containers */
.container div {
    width: fit-content;
    height: 350px;
    margin: 5px;
    border-radius: 10px;
    overflow: hidden;
}

/* Style for images */
.container img {
    width: 100%;
    height: 100%;
}